<IfModule php_module>
    php_value upload_max_filesize 64M
    php_value post_max_size 72M
    php_value max_file_uploads 20
    php_value max_input_time 300
    php_value memory_limit 256M
</IfModule>

<IfModule mod_php.c>
    php_value upload_max_filesize 64M
    php_value post_max_size 72M
    php_value max_file_uploads 20
    php_value max_input_time 300
    php_value memory_limit 256M
</IfModule>
